<main>
  <section class="container">
    <div class="row">
      <div class="col s12 center-align">
        <%= link_to "Beau.", root_path, class: "logo" %>

        <div class="content">
          <%= form_for @user, url: register_path do |f| %>
            <% if @user.errors.any? %>
              <div class="error-list">
                <ul>
                  <% @user.errors.full_messages.each do |err| %>
                    <li><%= err %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="group">
              <%= f.label :username %>
              <%= f.text_field :username, required: true, pattern: "[A-z0-9]+" %>
            </div>

            <div class="group">
              <%= f.label :password %>
              <%= f.password_field :password, required: true %>
            </div>

            <div class="group">
              <%= f.button "Register", class: "btn" %>
            </div>

            <p class="note center-align">
              Already have an account? <%= link_to "Login", login_path %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>