<!DOCTYPE html>
<html>
<head>
  <title>Beau</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{params[:controller]}-#{params[:action]}" %>">
<% if flash.present? %>
  <% if flash[:msg].present? && current_user.nil? %>
    <div class="msg center-align">
      <p>
        <%= flash[:msg] %>
      </p>
    </div>
  <% end %>
<% end %>
<%= yield %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
